body {
    background: gray;
}

.head {
    text-align: center;
}

.left_content {
    background-color: red;
    width: 20%;
    height: 1000px;
    float: left;
    display: inline;
    margin-left: 15px;
}

.right_content {
    background-color: yellow;
    width: 70%;
    height: 1000px;
    float: left;
    display: inline;
    margin-left: 30px;
}

.wrapper {
    background-color: blue;
    width: 1000px auto;
    height: 1000px;
    margin: 50px auto;
    padding: 10px;
    /*
    margin-left: 0 auto;
 margin-right: 0;
 margin-top: 0;
 margin-bottom: 0;
*/
}

.item {
    background-color: gray;
}

.photo>img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.article_title {
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}

.articl {
    margin: 20px;
}

.left_table {
    float: left;
    display: inline;
    border: black;
    margin-left: 50px;
}

.right_table {
    margin-left: 50%;
}

td {
    /*    border: 1px solid black;*/
    border: 1px none black;
    text-align: center;
}

.left_table td+td {
    width: 70%;
}

.right_table td+td {
    width: 85%;
}
