* {
    /*    border: 1px solid black;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*    overflow: hidden;*/
}

h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
a,
span {
    color: #333;
}

body {
    background-image: url(../img/backgrounImg.jfif);
    background-size: cover;
}


/*asidebar*/

aside,
nav {
    width: 15%;
    height: 100vh;
    position: fixed;
    /*    background: red;*/
    top: 0px;
    right: 0px;
    z-index: 2;
    border-left: 1px solid white;
}

nav {
    margin-top: 2vh;
}

.asidebar:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /*
    background-color: #E2C0B9;
    background-image: url(../img/cork-repeat.jpg);
*/
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.asidebar .col-List {
    margin-top: 1vh;
    height: 15vh;
    min-height: 80px;
    /*    float: none;*/
    position: relative;
    cursor: pointer;
}

.asidebar .col-List:hover {
    background-color: red;
}

.asidebar .asideTitle {
    float: left;
    /*    text-height: 80px;*/
    top: 30%;
    position: absolute;
    color: white;
}

.asidebar .icon {
    margin-top: 15px;
    float: right;
    color: white;
}

.CV {
    margin-top: 3%;
    margin-left: 5%;
    width: 70%;
    height: 85vh;
    /*    border: 5px solid black;*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 30px;
    background-image: url(../img/cork-repeat.jpg);
}

.CV:hover {
    height: 100%;
    min-height: 85vh;
}

.CV:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: #E2C0B9;
    background-image: url(../img/cork-repeat.jpg);
    */
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

header {
    height: 200px;
    width: 100%;
    position: relative;
    border-radius: 30px;
}

header>.personImg {
    height: 96%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    /* Filters主要是运用在图片上，以实现一些特效 grayscale是設定彩度*/
    filter: grayscale(10%);
    /*    float: left;*/
    position: absolute;
    width: calc(100% * 3 / 12);
    float: left;
}

header>.basicTextData {
    position: absolute;
    margin-top: 0px;
    margin-left: 35%;
    width: 60%;
    position: absolute;
}

header>.basicTextData>.col-md-8 {
    margin-top: 3vh;
    margin-left: 0px;
    width: 100%;
    float: none;
    font-size: 150%;
    text-align: left;
    font-weight: 700;
}

#name:before {
    content: "姓名 : ";
}

#telephone:before {
    content: "電話 : ";
}

#EngName:before {
    content: "英文名稱 : ";
}

#email:before {
    content: "email : ";
}

section {
    clear: both;
    padding-top: 15px;
    padding-left: 15px;
    /*    height: 1000px;*/
    /*    background-color: #EBA;*/
    /*background-image: url(../img/backgrounImg.jfif);
    background-size: cover;*/
}

.pages>[id^='page'] {
    display: none;
}

.pages>[id^='page'].active {
    display: block;
}


/*設定動畫*/

.pages {
    transform: rotateX(-90deg);
    transform-origin: top;
    /*    opacity: 0;*/
}

.pages {
    transition: all 0.5s ease;
}

.CV:hover>.pages {
    transform: rotateX(0deg);
    filter: brightness(1) grayscale(0%);
}

.phony {
    padding-top: 15px;
    padding-left: 15px;
    transition: all 2s ease;
}

.CV:hover>.phony {
    opacity: 0;
}
